<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>Add User</h1>


    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            <li><a href="{{ url_for('add_user') }}">Add Member</a></li>
            <li><a href="{{ url_for('user_list') }}">Member List</a></li>
            <li><a href="{{ url_for('borrow_book') }}">Borrow Book</a></li>
            <li><a href="{{ url_for('view_books') }}">View Books</a></li>
            <li><a href="{{ url_for('return_book') }}">Return Book</a></li>
        </ul>
    </nav>
</header>
    


    <form method="POST" action="{{ url_for('add_user') }}">
        <input type="text" name="userName" placeholder="User Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="membershipID" placeholder="Membership ID" required>
        <button type="submit">Add User</button>
    </form>

</body>
</html>
