<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Books List</h1>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            <li><a href="{{ url_for('add_user') }}">Add Member</a></li>
            <li><a href="{{ url_for('user_list') }}">Member List</a></li>
            <li><a href="{{ url_for('borrow_book') }}">Borrow Book</a></li>
            <li><a href="{{ url_for('view_books') }}">View Books</a></li>
            <li><a href="{{ url_for('return_book') }}">Return Book</a></li>
        </ul>
    </nav>

    </header>

    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book['Title'] }}</td>
                        <td>{{ book['Author'] }}</td>
                        <td>{{ book['ISBN'] }}</td>
                        <td>{{ 'Available' if book['Availability'] else 'Unavailable' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
